/*
 Author:       Wolfgang Hartl
 Author URI:   https://my-webcraftdesign.at/
 Version:      2.0
 DOCS:         https://my-webcraftdesign.at/tutorial/create-an-accordion-the-easy-way-with-bricks-builder/
*/

.wcd_accordion_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  
  .wcd_accordion_header{
      cursor:pointer;
  }
  
  .wcd_accordion_header i{
      transition: all 0.4s ease-out;
  }
  
  .wcd_accordion_active i{
      transform: rotate(180deg);
  }
  
  